<%= content_tag :div, class: 'media', id: "playlist-#{playlist.id}" do %>
  <div class="media-body">
    <% begin %>
        <% embed_info = @client.get('/oembed', :url => playlist.url) %>
    <% rescue Soundcloud::ResponseError => e%>
          <%=  "Invalid Entry - Not a Valid Soundcloud URL" %>
    <% end %>
    <% if embed_info %>
      <%= embed_info['html'].html_safe %>
    <% end %>
    <br />
    <%= link_to edit_topic_post_playlist_path(@topic, @post, playlist[:id]), class: 'btn btn-small' do %>
            <i class="glyphicon glyphicon-wrench"> </i> <% end %>
    <%= image_tag(@post.user.avatar.small.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(playlist.created_at) %> ago by 
    <%= playlist.user.name %>
  </div>
<% end %>